pkgbase = cconv
	pkgdesc = A iconv based simplified-traditional chinese conversion tool
	pkgver = 0.6.3
	pkgrel = 1
	url = https://github.com/xiaoyjy/cconv
	arch = i686
	arch = x86_64
	license = GPL
	depends = glibc
	options = !libtool
	source = https://github.com/xiaoyjy/cconv/archive/v0.6.3.tar.gz
	sha1sums = b3f64e03fc30de706201fc51b0f74cd50244157d

pkgname = cconv

